*{
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgray
}

.about {
     margin-bottom: 1px; 
     width: 99%;
    margin: 10px auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    font-weight: bold;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-links a:hover {
    color: blue;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin-bottom: 1px; 
     img{
        width: 15%;
        height: 5%;
    } 
}

header {
    background-color: white;
    padding: 10px 40px;
    margin-bottom: 1px;
    img{
        width: 13%;
        /* height: 5%; */
    } 
}

section {
    background-color: white;
    padding: 60px 40px;
    margin-bottom: 30px; 
     margin-bottom: 1px; 

     img{
        width: 80%;
        height: 10%;
     }
     p{
        font-size: large;
     }
}