.contact {
    background-color: white;
     margin-bottom: 1px; 
     display: flex;
     text-align: center;
    flex-direction: column;
    gap: 15px;
}
form {
    width: 30%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input, textarea {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

button {
    padding: 12px;
    border: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}