*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body {
    background-color: lightgray
}
.page-wrapper {
    width: 95%;
    max-width: 1200px;
    margin: 20px auto;
}
header {
    background-color: white;
    padding: 10px 40px;
    margin-bottom: 1px;
    img{
        width: 13%;
        /* height: 5%; */
    } 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin-bottom: 1px; 
     img{
        width: 15%;
        height: 5%;
    } 
}
.logo {
    font-size: 22px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    font-weight: bold;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-links a:hover {
    color: blue;
}